@model Product

<h1>Detalji proizvoda</h1>

<hr />
<div class="row">
    <dl class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dl>
    <dl class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dl>
    <dl class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductTitle)
    </dl>
    <dl class="col-sm-10">
        @Html.DisplayFor(model => model.ProductTitle)
    </dl>
    <dl class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductDescription)
    </dl>
    <dl class="col-sm-10">
        @Html.DisplayFor(model => model.ProductDescription)
    </dl>
    <dl class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductQuantity)
    </dl>
    <dl class="col-sm-10">
        @Html.DisplayFor(model => model.ProductQuantity)
    </dl>
    <dl class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductPrice)
    </dl>
    <dl class="col-sm-10">
        @Html.DisplayFor(model => model.ProductPrice) €
    </dl>
    <dl>

    </dl>
    <dl class="col-sm-6">
        @if (string.IsNullOrEmpty(Model.ProductImage))
        {
            <img src="@("~/Images/no-image.png")" asp-append-version="true" />
        }
        else
        {
            <img src="@("~/Images/"+Model.ProductImage)" asp-append-version="true" />

        }
    </dl>
    <dl>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Uredi</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Obriši</a>
</div>

<hr />

<div>
    <a asp-action="Index" class="btn btn-primary">Vrati se na popis proizvoda</a>
</div>
